/* variables */
:root {
  --base-color: #fec200;
  --base-light-color: #fcf4d4;
  --base-dark-color: #614F14;
  --base-dark2-color: #4F4216;
  --alt-font: "Manrope", sans-serif;
  --primary-font: "Rubik", sans-serif;
  --dark-gray: #252840;
  --medium-gray: #868d98;
}