@use 'sass:color';
@use 'mixins';


// @media print {
//   body {
//     display: none !important;
//   }

//   html::before {
//     content: "🔒 Printing is disabled for this page.";
//     display: block;
//     text-align: center;
//     font-size: 24px;
//     margin-top: 200px;
//   }
// }

header {
  .navbar {
    position: relative;
    background-color: #333 !important;
  }
}

.home {
  header {
    .navbar {
      position: fixed;
    }
  }
}

.sticky {
  &.sticky-active {
    .navbar {
      position: fixed;
    }
  }
}

.shop-image .lable.sale {
  background-color: var(--golden-yellow);
}

.woocommerce-checkout {
  h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  .woocommerce {
    &-order {
      &-overview+p {
        margin-block-end: 0;
      }

      &-details {
        padding-block: 10px;

        &__title {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: 5px;
        }
      }
    }

    &-bacs-bank-details {
      padding-block: 0px;

      .wc-bacs-bank-details-heading {
        font-size: 2rem;
        margin-block-end: 5px;
      }

      .wc-bacs-bank-details-account-name {
        @include mixins.checkout-titles;
      }
    }

    &-customer-details {
      padding-block: 10px;

      .woocommerce-columns--addresses {
        padding-block: 0;
      }

      .woocommerce-column--billing-address {
        h2 {
          @include mixins.checkout-titles;
        }
      }

      .woocommerce-column--shipping-address {
        h2 {
          @include mixins.checkout-titles;
        }
      }
    }
  }
}

.wc-block-mini-cart__title {
  font-family: var(--alt-font);
}

.woocommerce .star-rating {
  float: none;
  display: inline-block;
}

#contact {
  .cf7-cf-turnstile {
    margin-bottom: -40px !important;
  }

  .cf-turnstile>div {
    text-align: center;
  }
}

.woocommerce-variation-price {
  .price {
    font-size: 2rem !important;
    font-family: var(--alt-font) !important;
    color: black !important;
  }
}

.product {
  .summary {
    tr.woocommerce-grouped-product-list-item {
      .woocommerce-grouped-product-list-item__quantity {
        width: 7em !important;
      }
    }

    button.single_add_to_cart_button {
      background-color: var(--dark-gray) !important;
      width: 100%;
      padding-block: 20px;

      @media (min-width: 768px) {
        width: 50%;
        padding-block: inherit;
      }
    }
  }

  .quantity {
    input[type="number"] {
      width: 100% !important;
      border-radius: 10px;
    }
  }

  &.product-type-simple {
    form.cart {
      display: flex;
      gap: 10px;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
      }

      .button[name="add-to-cart"] {
        flex: 1;
        float: none !important;
        background-color: var(--dark-gray) !important;
        margin: 0 !important;

        @media (min-width: 768px) {
          flex: 2;
        }
      }

      .quantity {
        display: block;
        float: none !important;
        flex: 1;
      }
    }
  }

  &.product-type-variable {
    table.variations {
      border-spacing: 0 10px;
      border-collapse: separate;
    }

    .woocommerce-variation-add-to-cart {
      &.variations_button {
        display: flex;
        gap: 10px;
        flex-direction: column;

        @media (min-width: 768px) {
          flex-direction: row;
        }

        .button.single_add_to_cart_button {
          flex: 1;
          float: none !important;
          margin: 0 !important;

          @media (min-width: 768px) {
            flex: 2;
          }
        }

        .quantity {
          display: block;
          float: none !important;
          flex: 1;
        }
      }
    }
  }

  &.product-type-grouped {
    form.cart {
      .woocommerce-variation-add-to-cart {
        display: flex;
        gap: 10px;

        @media (min-width: 768px) {
          gap: 20px;
        }
      }

      button.single_add_to_cart_button {
        margin-top: 10px;

        @media (min-width: 768px) {
          padding-block: 20px;
        }
      }
    }
  }
}

.wp-block-woocommerce-mini-cart-checkout-button-block {
  background-color: var(--dark-gray);
  color: white;

  &:hover {
    color: white;
    background-color: color.scale(#232323, $lightness: 20%);
  }
}

.wp-block-woocommerce-proceed-to-checkout-block {
  .wc-block-cart__submit-button {
    background-color: var(--dark-gray);
    color: white;
  }
}

.sidebar-product-filters {
  margin-bottom: 1.5em;

  @media (min-width: 768px) {
    margin-bottom: 0;
    position: sticky;
    top: 80px;
  }
}

div[data-block-name="woocommerce/checkout"]{
  input[type='checkbox'], input[type='radio']{
    padding: 0 ;
  }

  .wc-block-components-checkout-order-summary__content{
    .wp-block-woocommerce-checkout-order-summary-cart-items-block{
      .wc-block-components-order-summary-item{
        &__image{
          flex: 1;
        }
        &__description{
          flex: 4;
        }
        &__total-price{
          flex: 1;
        }
      }
    }
  }
}